aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
anyio==4.6.2.post1
attrs==25.1.0
autocommand==2.2.2
castepxbin==0.3.0
certifi==2025.1.31
charset-normalizer==3.4.0
cheroot==10.0.1
CherryPy==18.10.0
cherrypy-cors==1.7.0
colormath==3.0.0
contourpy==1.3.1
cycler==0.12.1
fonttools==4.56.0
frozenlist==1.5.0
h11==0.14.0
h5py==3.13.0
httpagentparser==1.9.5
httpcore==1.0.7
httpx==0.28.0
idna==3.10
importlib_resources==6.5.2
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
joblib==1.4.2
kiwisolver==1.4.8
latexcodec==3.0.0
lxml==5.4.0
matplotlib==3.10.1
monty==2025.3.3
more-itertools==10.5.0
mpmath==1.3.0
multidict==6.1.0
narwhals==1.32.0
networkx==3.4.2
numpy==1.26.4
packaging==24.2
paho-mqtt==1.6.1
palettable==3.3.3
pandas==2.2.3
patsy==1.0.1
phonopy==2.38.0
pillow==11.1.0
plotly==6.0.1
portend==3.2.0
propcache==0.3.0
pybtex==0.24.0
pymatgen==2024.10.3
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-telegram-bot==21.7
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
ruamel.yaml==0.18.10
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
seekpath==2.1.0
setuptools==75.6.0
six==1.16.0
sniffio==1.3.1
spglib==2.6.0
statsmodels==0.14.4
sumo==2.3.11
sumolib==1.22.0
symfc==1.3.4
sympy==1.13.3
tabulate==0.9.0
telegram==0.0.1
telepot==12.7
tempora==5.7.0
threadpoolctl==3.6.0
tqdm==4.67.1
traci==1.22.0
tzdata==2025.2
uncertainties==3.2.2
urllib3==2.2.3
yarl==1.18.3
zc.lockfile==3.0.post1
